#constructor-car > .content{
    display: flex;
    grid-gap: 16px;
    margin: 0 auto;
}

#constructor-car .block{
    padding: 16px;
    border-radius: 16px;
    background-color: #fff;
    box-shadow: 0px 4px 18px rgba(0,0,0,0.16);
}